<main class="content">

    <% if (config.postCalendar) { %>
    <%- partial('_widget/post-calendar') %>
    <% } %>

    <%
    // init year and month variable.
    var year = '1970';
    var month = '1970-01';
    %>

    <div class="container">
        <div id="cd-timeline">
            <span></span>
            <% page.posts.each(function(post) { %>
            <div class="cd-timeline-block">

                <%# year. %>
                <% if (date(post.date, 'YYYY') != year) { %>
                <% year = date(post.date, 'YYYY'); %>
                <div class="cd-timeline-img year" data-aos="zoom-in-up">
                    <a href="<%- url_for('/archives/' + year) %>"><%- year %></a>
                </div>
                <% } %>

                <%# month. %>
                <% if (date(post.date, 'YYYY-MM') != month) { %>
                <%
                    month = date(post.date, 'YYYY-MM');
                    var m = date(post.date, 'MM')
                %>
                <div class="cd-timeline-img month" data-aos="zoom-in-up">
                    <a href="<%- url_for('/archives/' + year + '/' + m) %>"><%- m %></a>
                </div>
                <% } %>

                <%# every day posts. %>
                <div class="cd-timeline-img day" data-aos="zoom-in-up">
                    <span><%- date(post.date, 'YYYY-MM-DD').substring(8, 10) %></span>
                </div>
                <article class="cd-timeline-content" data-aos="fade-up">
                    <div class="article col s12 m6">
                        <div class="card archive-preview-card">
                            <a href="<%- url_for(post.path) %>" class="title">
                                <%= post.title %>
                            </a>
                            <div class="summary block-with-text">
                                <% if (post.summary && post.summary.length > 0) { %>
                                    <%- post.summary %>
                                <% } else { %>
                                    <%- strip_html(post.content).substring(0, 120) %>
                                <% } %>
                            </div>
                            <hr class="">
                            <div class="profile">
                                <div class="float-right" style="display: inline-block;">
                                    <i class="fa fa-tags"></i>
                                    <% post.tags.forEach(function(tag, index) { %>
                                        <a href="<%- url_for(tag.path) %>">
                                            <%= tag.name %>
                                        </a>
                                        <% if (index !== post.tags.length - 1) { %>
                                            ,
                                        <% } %>
                                    <% }); %>
                                </div>
                                <div class="float-left" style="display: inline-block;">
                                    <i class="fa fa-folder-open"></i>
                                    <% post.categories.forEach(function(category, index) { %>
                                        <a href="<%- url_for(category.path) %>">
                                            <%= category.name %>
                                        </a>
                                        <% if (index !== post.categories.length - 1) { %>
                                            ,
                                        <% } %>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <% }); %>
        </div>
    </div>

</main>

<% if (page.total > 1) { %>
<%- partial('_partial/paging') %>
<% } %>
