<link rel="stylesheet" href="<%- url_for(config.libs.css.dplayer) %>">
<div class="video-player">
    <% if (config.video.showTitle) { %>
    <div class="title center-align">
        <i class="fas fa-video-camera"></i>&nbsp;&nbsp;<%= config.video.title %>
    </div>
    <% } %>
    <div class="row">
        <div class="col l8 offset-l2 m10 offset-m1 s12">
            <div id="dplayer" class="dplayer-video"
                    <% if (config.video.height) { %> style="height: <%- config.video.height %>px;"<% } %>></div>
        </div>
    </div>
</div>

<script src="<%- url_for(config.libs.js.dplayer) %>"></script>
<script>
    $(function () {
        new DPlayer({
            container: document.getElementById('dplayer'),
            autoplay: '<%- config.video.autoplay %>' === 'true',
            theme: '<%- config.video.theme %>',
            loop: '<%- config.video.loop %>' === 'true',
            lang: '<%- config.language %>' === 'zh-CN' ? 'zh-cn' : 'en',
            preload: '<%- config.video.preload %>',
            volume: Number('<%- config.video.volume %>'),
            video: {
                url: '<% if (config.video.url) { %><%- url_for(config.video.url) %><% } %>',
                pic: '<% if (config.video.pic) { %><%- url_for(config.video.pic) %><% } %>',
                thumbnails: '<% if (config.video.thumbnails) { %><%- url_for(config.video.thumbnails) %><% } %>'
            }
        });
    });
</script>
