<footer class="container-full bg-color">
    <div class="container row center-align white">
        &nbsp;&copy;
        <% if (config.time.year !== new Date().getFullYear()) { %>
            <span id="year"><%- config.time.year %>-<%- new Date().getFullYear() %></span>
        <% } else { %>
            <span id="year"><%- config.time.year %></span>
        <% } %>
        <a href="<%- url_for('/about') %>" target="_blank"><%- config.author %></a>
        |&nbsp;Powered by&nbsp;<a href="https://hexo.io/" target="_blank">Hexo</a>
        |&nbsp;Base on Theme:&nbsp;Matery by <a href="https://blinkfox.github.io/" target="_blank">blinkfox</a>
        <% if (config.postInfo.totalCount) { %>
        &nbsp;<i class="fas fa-chart-area"></i>&nbsp;站点总字数:&nbsp;<span
            class="white-color"><%= totalcount(site) %></span>&nbsp;字
        <% } %>
        <% let socialClass = '' %>
        <% if (config.busuanziStatistics && config.busuanziStatistics.enable) { %>
        <% socialClass = 'social-statis' %>
        <% } %>
        <% if (config.busuanziStatistics && config.busuanziStatistics.totalTraffic) { %>
        <span id="busuanzi_container_site_pv">
            |&nbsp;<i class="far fa-eye"></i>&nbsp;总访问量:&nbsp;<span id="busuanzi_value_site_pv"
                class="white-color"></span>&nbsp;次
        </span>
        <% } %>
        <% if (config.busuanziStatistics && config.busuanziStatistics.totalNumberOfvisitors) { %>
        <span id="busuanzi_container_site_uv">
            |&nbsp;<i class="fas fa-users"></i>&nbsp;总访问人数:&nbsp;<span id="busuanzi_value_site_uv"
                class="white-color"></span>&nbsp;人
        </span>
        <% } %>
        <% if (config.icp.enable) { %>
            <br>
            <span id="icp"><img src="<%- url_for('/medias/icp.png') %>" style="vertical-align: text-bottom;" />
                <a href="<%- url_for(config.icp.url) %>" target="_blank"><%= config.icp.text %></a>
            </span>
        <% } %>
    </div>
</footer>
