<div class="index-cover">
    <div class="inner-content">
        <div class="row">
            <img src="<%- url_for(config.favicon) %>" class="logo" alt="LOGO">
            <div class="description font-zmx">
                <%= config.motto.description %>
            </div>
        </div>

        <div class="row cover-btns">
            <a href="<%- url_for(config.blog.url) %>" id="blogEntryLink" class="btn">
                <i class="<%- config.blog.icon %>"></i><%- config.blog.text %>
            </a>
            <a href="<%- url_for(config.github.url) %>" class="btn" target="_blank">
                <i class="<%- config.github.icon %>"></i><%- config.github.text %>
                
            </a>
        </div>
        <div class="cover-social-link">
            <%- partial('_partial/social-link') %>
        </div>
    </div>
</div>