<div class="reprint-statement" id="reprint-statement">
    <div class="reprint__author">
        <span class="reprint-meta" style="font-weight: bold;">
            <i class="fas fa-user">
                <%= __('author') %>:
            </i>
        </span>
        <span class="reprint-info">
            <a href="<%- url_for('/about') %>" rel="external nofollow noreferrer"><%- page.author || config.author %></a>
        </span>
    </div>
    <div class="reprint__type">
        <span class="reprint-meta" style="font-weight: bold;">
            <i class="fas fa-link">
                <%= __('link') %>:
            </i>
        </span>
        <span class="reprint-info">
            <a href="<%- config.url %><%- url_for(page.path) %>"><%- config.url %><%- url_for(page.path) %></a>
        </span>
    </div>
    <div class="reprint__notice">
        <span class="reprint-meta" style="font-weight: bold;">
            <i class="fas fa-copyright">
                <%= __('reprint') %>:
            </i>
        </span>
        <span class="reprint-info">
            <%= __('use') %>
            <a href="<%= __('cc_by_nc_nd_url') %>" rel="external nofollow noreferrer" target="_blank"><%= __('cc_by_nc_nd_name') %></a>
            <%= __('licensed') %>
        </span>
    </div>
</div>

