<div class="sidebar-body">
  <!-- <%- partial('_widget/sidebar/search') %> -->
  <!-- <%- partial('_widget/sidebar/wechat') %> -->
  <%- partial('_widget/sidebar/category') %>
  <%- partial('_widget/sidebar/tag') %>
  <%- partial('_widget/sidebar/archive') %>
</div>