<div class="sidebar-body">
  <%- partial('_widget/search') %>
  <%- partial('_widget/latest') %>
  <%- partial('_widget/category') %>
  <%- partial('_widget/tag') %>
  <%- partial('_widget/archive') %>
</div>